.App {
  background-color: #408000;
  z-index: 0;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: #008080;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

main {
  margin: 25px;
  text-align: center;
}

img {
  width: 250px;
  height:250px;
  border: solid #800000 5px;
}

button {
  background-color: #400080;
  color: white;
}

.pictureBlock {
  width: 300px;
  height: 350px;
  display: inline-block;
  align-content: center;
}

.pictureContainer {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.displayDescription {
  height: 250px;
  width: 250px;
  border: solid #800000 5px;
  position: absolute;
  color: white;
}

span {
  opacity: .5;
  position: relative;
  z-index: 1;
}

footer {
  padding: 5px;
  background-color: #222;
  color: #008080;
}