.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

li {
  list-style-type: none;
}

img {
  width: 200px;
  height: auto;
}

.pictureContainer {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 200px;
}

.displayDescription {
  opacity: .5;
  position: absolute;
}